* {
    font-family: 'Poppins', sans-serif;
    color: white;
    outline: none;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

header,
form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 5%;
    width: 40%;
}

header {
    font-size: x-large;
    width: 60%;
}

form input,
form button {
    background-color: #2c5364;
    margin-top: 4%;
    padding: 10px;
    border: none;
}

form button {
    background: #2c5364;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #0f2027;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.todo-list {
    padding-left: 0px;
    width: 40%;
    list-style: none;
}

.todo {
    display: flex;
    align-items: center;
    transition: all 0.6s ease;
}

.todo-item {
    flex: 1;
    word-wrap: break-word;
}

.complete-button,
.trash-button {
    justify-content: flex-end;
    margin: 3px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    background: #2c5364;
    cursor: pointer;
}

.complete-button:hover {
    background-color: #0f2027;
}

.trash-button:hover {
    background-color: #0f2027;
}

.fa-check,
.fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateX(-200px);
    opacity: 0;
}

.hr-line {
    color: gray;
    opacity: 90%;
    margin-top: 5px;
}

.light-hr-line {
    opacity: 20%;
}